.container {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
  /* align-content: space-between; */
  /* flex-flow: row wrap; */
}

.box {
  width: 100px;
  height: 100px;
}

.box1 {
  background: orange;
}

.box2 {
  background: skyblue;
}

.box3 {
  background: tomato;
}
